body {
    font-family: "Inter";
    font-size: 16px;
}

.print-format {
    /* for wkhtmltopdf */
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 20px;
    /* for modern browser */
    margin: 0 auto;
}

/* modern browser print */
@page {
    margin: 10px !important;
    }

.main-heading {
    font-family: "Inter";
    font-size: 24px;
    font-weight: 700;
    padding: 28px 0;
}
.sub-header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 50px;
}

.sub-header .estimate-details {
    text-align: right;
}

.sub-header p.main {
    font-size: 16px;
    font-weight: 600;
}

.user-text {
    padding-bottom: 30px;
}

.main-title {
    font-size: 18px;
    font-weight: 600;
    padding-bottom: 20px;
}

.module-text {
    font-size: 15px;
    margin-top: -5px;
    padding-bottom: 10px;
}
.title {
    font-size: 14px;
    font-weight: 400;
    color: #3C3C3C;
}

.value {
    font-size: 15px;
    font-weight: 500;
    padding-top: 3px;
}

th:first-child, td:first-child {
    width: 30%;
}

.right-align {
    text-align: right;
}

.table-module-title {
    font-size: 15px;
    font-weight: 500;
    padding-bottom: 10px;
}

h1 {
    margin: 0;
    font-size: 28px;
    color: #333;
    text-align: center;
}

.left-align {
    text-align: left;
}

.right-align {
    text-align: right;
}

.module-wise-estimate-table {
    width: 100%;
    border: 1px solid #ddd;
    border-collapse: collapse;
    font-size: 14px;
    margin-bottom: 20px;
}

.module-wise-estimate-table th,
.module-wise-estimate-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    font-size: 14px;
}

.module-wise-estimate-table th {
    background-color: #ffffff;
    color: black;
    padding: 5px;
}

.left-align p,
.right-align p,
.center-align p {
    margin: 0 0 10px 0;
}

.left-align p:last-child,
.right-align p:last-child,
.center-align p:last-child {
    margin-bottom: 0;
}

table {
    width: 100%;
    border-collapse: collapse;
    font-size: 14px;
}
th,
td {
    padding: 1px;
}
.left {
    text-align: left;
}
.right {
    text-align: right;
}

.vertical {
    border-left: 1px solid lightgrey;
    height: 50px;
}

.no-break-inside {
    page-break-inside: avoid;
    break-inside: avoid;
}

.no-padding {
    padding: 0;
    margin: 0;
}
